
### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr


#macos
.DS_Store
FrontEnd/myfirstapp/package-lock.json
BackEnd/booksmicroservices/target/booksmicroservices-0.0.1.jar
BackEnd/booksmicroservices/target/booksmicroservices-0.0.1.jar
BackEnd/booksmicroservices/target/booksmicroservices-0.0.1.jar.original
*.class
