img {
    width: 100%;
}

body {
    height: 100%;
}

* {
    outline: none !important;
}

a {
    text-decoration: none !important;
    color: inherit !important;
}


/* 
* {
    border: 1px solid black;
} */

.navbar {
    background-color: #e3f2fd;
}

.fa.fa-edit {
    color: #18a2b9;
}

.list-group-item.delete:hover {
    cursor: -webkit-grab;
    background-color: pink;
}

.list-group-item.update:hover {
    cursor: -webkit-grab;
    background-color: gainsboro;
}

.list-group-item.board:hover {
    cursor: -webkit-grab;
    background-color: gainsboro;
}

.fa.fa-minus-circle {
    color: red;
}

.landing {
    position: relative;
    /* background: url("../img/showcase.jpg") no-repeat; */
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin-top: -24px;
    margin-bottom: -50px;
}

.landing-inner {
    padding-top: 80px;
}

.dark-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.card-form {
    opacity: 0.9;
}

.latest-profiles-img {
    width: 40px;
    height: 40px;
}

.form-control::placeholder {
    color: #bbb !important;
}

.pendingItem {
    margin: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
    padding: 1rem !important;
    overflow-wrap: break-word;
}

.pendingContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.accountRow {
    padding-bottom: 1rem;
}

.scroll .hero {
    transform: scale(0.98);
}

.hero {
    background-attachment: fixed;
    transition: transform 0.5s ease-in-out;
}

.hero::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient( rgba(0, 0, 0, 0.5) 0, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0.1) 100%);
}

.hero .container-fluid {
    z-index: 10;
}

.ant-list-item-extra {
    height: 100% !important;
    width: 30% !important;
}